{##
 # Profile cell
 #}

<div class="profile-box">
  {% if this.isAuthorRemoved(this.entity) %}
    {% if this.getColumnValue(this.column, this.entity) %}
        <span class="removed-profile-name">{{ this.getColumnValue(this.column, this.entity) }}</span>
    {% else %}
        <span class="removed-profile-name">{{ t('Auto') }}</span>
    {% endif %}
  {% else %}
    {% if this.getColumnValue(this.column, this.entity) %}
        <a href="{{ url('profile', '', {'profile_id': this.getAuthorProfileId(this.entity)}) }}">{{ this.getColumnValue(this.column, this.entity) }}</a>
    {% else %}
        <span class="removed-profile-name">{{ t('Auto') }}</span>
    {% endif %}
  {% endif %}
  {% if this.isPaypalProvider(this.entity) and this.getProviderImageUrl(this.entity) %}
    <div class="auto-sign">
      <img src="{{ this.getProviderImageUrl(this.entity) }}" alt="" />
    </div>
  {% endif %}
  {% if this.column.noWrap %}
    <img src="{{ asset('images/spacer.gif') }}" class="right-fade" alt="" />
  {% endif %}
</div>
